body {
  background-color: white;
}

h1 {
  font-family: "Titillium Web", sans-serif;
  font-size: 50px;
  font-weight: 400;
  color: white;
  text-align: center;
  margin: 10px;
  letter-spacing: 7px;
}

h2 {
  font-family: "Titillium Web", sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: white;
  margin: 0;
}

select {
  display: block;
  margin: 0 auto;
  width: 80%;
  border-radius: 4px;
  padding: 10px;
  font-family: "Titillium Web", sans-serif;
  font-size: 16px;
  background-color: rgb(224, 250, 249);
}
.container {
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 1px #dbdbff;
  background: black;
}

.city {
  display: flex;
  justify-content: space-between;
  padding: 0 0 20px;
  margin-top: 20px;
  border-bottom: 1px dotted #e8fa97;
}

.city:last-child {
  border-bottom: none;
}

.date {
  font-size: 18px;
  font-family: "Titillium Web", sans-serif;
  color: rgb(204, 255, 252);
}

.time {
  font-size: 70px;
  font-family: Teko;
  letter-spacing: 4px;
  color: #d7f845;
  display: flex;
  justify-content: end;
}

.time small {
  font-size: 24px;
  margin: 16px 0 0 5px;
}

footer {
  text-align: center;
  font-family: "Titillium Web", sans-serif;
  color: white;
  padding-top: 15px;
}
